In [2]:
print("Hello World")

Hello World

In [6]:
# Menggunakan Koma
nama = "ikrima nurul hikmah"
usia = 20

print("nama :", nama, "usia :", usia)

nama : ikrima nurul hikmah usia : 20

In [11]:
# String Formatting
nama = "ikrima nurul hikmah"
usia = 20

print("Nama: {}, Usia : {}".format(nama,usia))

Nama: ikrima nurul hikmah, Usia : 20

In [12]:
# F-String
nama = "ikrima nurul hikmah"
usia = 20

print(f"Nama: {nama}, Usia: {usia}")

Nama: ikrima nurul hikmah, Usia: 20

In [13]:
# Metode printf
nama = "ikrima nurul hikmah"
usia = 20

print("Nama : %s, Usia : %d" % (nama,usia))

Nama : ikrima nurul hikmah, Usia : 20

In [15]:
nama = "ikrima nurul hikmah"
nilai = 100

print("Nama Saya:"+nama+"\n Nilai Saya:", nilai)

Nama Saya:ikrima nurul hikmah
 Nilai Saya: 100

In [17]:
# Masukkan input dari pengguna
nama = input("Masukkan nama Anda:")
print("Hallo, "+ nama + "!")

# Mendapatkan input angka dan mengonversinya menjadi 
usia = int(input("Masukkan usia Anda:"))
print("Usia Anda adalah", usia, "tahun")

Hallo, 20!

KeyboardInterrupt: Interrupted by user

In [3]:
# nama = input("Masukkan nama Anda:")
# kelas = input("Masukan Keterangan Kelas Anda")
# matkul = input("Masukkan nama Mata Kuliah")
# usia = int(input("Masukkan Usia Anda :"))
# bb = float(input("Masukkan Berat Badan Anda"))

# print(f"Nama: {nama}\n Kelas: {kelas}\n  Matkul: {matkul}\n Usia: {usia}\n Berat Badan: {bb}")

Nama: ikrima
 Kelas: ee
  Matkul: pemdas
 Usia: 20
 Berat Badan: 55.0

In [25]:
a = 10
b = 5
hasil = a + b # hasil = 15

hasil

15

In [26]:
a = 10
b = 5
hasil = a * b #hasil = 50

hasil

50

In [27]:
a = 10
b = 5
hasil = a / b # hasil = 2.0

hasil

2.0

In [30]:
a = 10
b = 5
hasil = a - b # hasil = 5

hasil

5

In [40]:
a = 10
b = 3
hasil = a // b # hasil = 3

hasil

3

In [39]:
a = 10
b = 3
hasil = a % b # hasil = 1

hasil

1

In [1]:
a = 2
b = 3
hasil = a ** b #hasil = 8 (2^3)

hasil

8

In [2]:
nama = input("Masukkan nama Anda:")
kelas = input("Masukan Keterangan Kelas Anda")
matkul = input("Masukkan nama Mata Kuliah")
usia = int(input("Masukkan Usia Anda :"))
bb = int(input("Masukkan Berat Badan Anda"))

print(f"Nama: {nama}\n Kelas: {kelas}\n  Matkul: {matkul}\n Usia: {usia}\n Berat Badan: {bb}")

Nama: ikrima nurul hikmah
 Kelas: ee
  Matkul: pemdas
 Usia: 20
 Berat Badan: 55

In [10]:
angka1 = float(input("Masukkan Angka ke 1"))
angka2 = float(input("Masukkan Angka ke 2"))
hasil1 = angka1 + angka2 #pertamahan
hasil2 = angka1 - angka2  #pengurangan
hasil3 = angka1 / angka2 #pembagian
hasil4 = angka1 * angka2 #perkalian
hasil5 = angka1 ** angka2 #pangkat
hasil6 = angka1 // angka2 #pembagian pembulatan

print(f"Hasil Pertambahan: {hasil1}")
print(f"Hasil Pengurangan: {hasil2}")
print(f"Hasil Pembagian: {hasil3}")
print(f"Hasil Perkalian: {hasil4}")
print(f"Hasil Pangkat: {hasil5}")
print(f"Hasil Pembagian Yang Dibulatkan: {hasil6}")

Hasil Pertambahan: 12.0
Hasil Pengurangan: 8.0
Hasil Pembagian: 5.0
Hasil Perkalian: 20.0
Hasil Pangkat: 100.0
Hasil Pembagian Yang Dibulatkan: 5.0

In [2]:
nama = input("Nama Lengkap:")
ttl = input("Tempat Tanggal Lahir :")
agama= input("Agama : ")
telepon = input("Nomor Telepon :")
email = input(" Email : ")
alamat = input("Alamat :")
pendidikan = input("Pendidikan :")
jurusan = input("Program studi : ")


print(f"Nama Lengkap: {nama}")
print(f"Tempat Tanggal Lahir: {ttl}")
print(f"Agama : {agama}")
print(f"Nomor Telepon: {telepon}")
print(f"Email: {email}")
print(f"Alamat: {alamat}")
print(f"Pendidikan: {pendidikan}")
print(f"Program studi: {jurusan}")

Nama Lengkap: krimahf
Tempat Tanggal Lahir: 33
Agama : 3413
Nomor Telepon: 2342
Email:
Alamat: 2e4
Pendidikan:
Program studi: 3

In [3]:
# > (lebih besar dari) mengembalikan true jika oprerand
a = 5
b = 5
print(a >= b)

True

In [4]:
# > (lebih besar dari) mengembalikan true jika oprerand
a = 5
b = 5
print(a > b)

False

In [5]:
# == (sama dengan)
a = 10
b = 10.0
print(a == b)

True

In [8]:
# == (sama dengan)
a = 10
b = 10.0
print(a == b)

False

In [ ]:
# == (sama dengan)
a = "ikrima"
b = "Ikrima"
print(a == b)

In [9]:
# != (tidak sama dengan) mengembalikan true jika kedua operand nya tidak sama
a = 5
b = 9 
print(a != b)

True

In [12]:
usia = 20
status = "Dewasa" if usia>=18 else "Anak-Anak"
print(status)

Dewasa

In [13]:
jenis_kelamin = "perempuan"
status = "mainan" if jenis_kelamin == "laki-laki" else "boneka"
print(status)

mainan

In [28]:
nama = input (" Masukkan Nama Lengkap ")
nilai = int(input(" Masukkan "))
print("memiliki nilai=", nilai)
jurusan = input (" Nama Jurusan")
if   80 <= nilai <= 100:
    print(" Nilai A")
elif  73 <= nilai  <= 79:
    print(" Nilai AB")
elif  67 <= nilai <= 72:
    print(" Nilai B")
elif  55 <= nilai <= 66:
    print(" Nilai BC")
elif  40 <= nilai <= 54:
    print(" Nilai C")
else:
    print(" Nilai F")

print(f"Nama Lengkap : {nama}\n Dengan Jurusan :{jurusan}")

memiliki nilai= 95
 Nilai A
Nama Lengkap : Ikrima Nurul Hikmah
 Dengan Jurusan :Informatika

In [10]:
usia = int(input("Silahkan Masukkan Usia Anda"))
jeniskelamin = input("Masukkan Jenis Kelamin Anda")

if usia < 2:
    print("Masih diberi ASI")
elif 3 <= usia <= 18:
    if jeniskelamin == "Laki-laki":
        print("Rekomendasi asupan air: 1.6 Liter per hari ")
    elif jeniskelamin == "Perempuan":
        print("Rekomendasi asupan air: 1.4 Liter per hari")
    else:
        print("Tidak Valid")
elif 18 <= usia <= 65:
    if jeniskelamin == "Laki-laki":
        print("Rekomendasi asupan air: 2.5 Liter per hari")
    elif jeniskelamin == "Perempuan":
        print("Rekomendasi asupan air: 2.0 Liter per hari")
    else:
        print("Tidak Valid")
elif usia >= 65:
    if jeniskelamin == "Laki-laki":
        print("Rekomendasi asupan air: 2.0 Liter per hari")
    elif jeniskelamin == "Perempuan":
        print("Rekomendasi asupan air: 1.8 Liter per hari")
    else:
        print("Tidak Valid")

Rekomendasi asupan air: 1.8 Liter per hari

In [1]:
# Operator Ternary
prodi = 12
status = 20 < 23 if prodi == "12" else 20 > 24
# print(status)

harga = "Java Script" if status == True else "python"
print(harga)

python

In [3]:
# Operator Ternary
prodi = "Informatika"
status = 20 < 23 if prodi == "informatika" else 25 > 24
#print(status)

harga = "Java Script" if status == True else "python"
print(harga)

Java Script

In [1]:
#Input suhu tubuh
suhu_tubuh = 38

#Input detak jantung
detak_jantung = 110

#Mengecek apakaah sushu tubuh du atas normal
if suhu_tubuh > 37.5:
    print("Suhu tubuh di atas normal")

    # Mengecek apakah sushu tubuh sangat tinggi
    if suhu_tubuh > 39:
        print("Suhu tubuh sangat tinggi, butuh perhatian medis segera")

    # Mengecek detak jantung jika suhu tubuh tidak terlalu tinggi
    else: 
        # Mengecek apakah detak jantung telalu tinggi
        if detak_jantung > 100:
            print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
        else:
            print("Detak jantung normal, perbanyak istirahat dan minuim cairan")
else:
    print("Suhu tubuh normal, tidak ada tindakan khusus yang diperlukan")

Suhu tubuh di atas normal
Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.

In [21]:
nama = input("Masukkan Nama Anda")
print(" Nama :",nama)
suhu_tubuh = float(input("Masukkan suhu tubuh Anda"))
print(" suhu tubuh  :",suhu_tubuh)
detak_jantung = int(input("Masukkan hasil detak jantung anda"))
print(" detak jantung  : ",detak_jantung)

# Mengecek apakah suhu tubuh di atas normal
if suhu_tubuh > 37.5:
    print("Cukup istirahat.")

    #Mengecek apakah suhu tubuh sangat tinggi 
    if suhu_tubuh >= 39 and suhu_tubuh >= 50:
        print("Harus segera dirawat.")

        #Mengecek detak jantung jika suhu tubuh tidak terlalu tinggi 
    else:
        #Mengecek apakah detak jantung terlalu tinggi 
        if detak_jantung > 100:
            print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
        else:
            print("Detak jantung normal, perbanyak istirahat dan minum cairan.")
else:
    print("Suhu tubuh normal, tidak ada tindakan khusus yang diperlukan.")
    if detak_jantung > 100:
        print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
    else:
        print("Detak jantung normal, perbanyak istirahat dan minum cairan.")

 Nama : ik
 suhu tubuh  : 38.0
 detak jantung  :  100
Cukup istirahat.
Detak jantung normal, perbanyak istirahat dan minum cairan.

In [6]:
nama = input("Silahkan Masukkan Nama Anda:")
print("Nama :",nama)
tekanan_darah_sistolik = float(input("Masukkan Hasil Tekanan darah sistolik Anda(mmHg):"))
print(" tekanan darah sistolik:",tekanan_darah_sistolik)
tekanan_darah_diastolik = float(input(" Masukkan Hasil Tekanan darah diastolik Anda(mmHg):"))
print(" tekanan darah diastolik:",tekanan_darah_diastolik)
denyut_nadi = float(input("Masukkan Hasil Cek denyut nadi Anda(bpm):"))
print(" Denyut Nadi:",denyut_nadi)

# Mengecek tekanan darah sistolik dan diastolik
if tekanan_darah_sistolik >180 or tekanan_darah_diastolik >120:
    print("Anda sedang mengalami Krisis Hipertensi segera mencari bantuan medis")
elif tekanan_darah_sistolik >140 or tekanan_darah_diastolik >90:
    print("Disarankan untuk konsultasi dengan dokter mengenai hipertensi")
elif 120<=tekanan_darah_sistolik<=139 or 80<=tekanan_darah_diastolik<=89:
    print("Anda berada di dalam kondisi prahipertensi")
elif tekanan_darah_sistolik <120 and tekanan_darah_diastolik <80:
    print("Tekanan darah anda normal")

#mengecek denyut nadi
if denyut_nadi >100:
    print("Anda disarankan untuk memeriksa kondisi kesehatan jantung")
elif denyut_nadi <60:
    print("Disarankan untuk diperiksa apakah ada gejala yang mengiringi bradikardia")
elif 60<=denyut_nadi<=100:
    print("Denyut nadi Anda normal")

Nama : ik
 tekanan darah sistolik: 118.0
 tekanan darah diastolik: 65.0
 Denyut Nadi: 57.0
Tekanan darah anda normal
Disarankan untuk diperiksa apakah ada gejala yang mengiringi bradikardia

In [1]:
#match-case untuk Tugas 4

angka = input ("Masukkan angka yang akan dipilih")

#Menggunakan match-case untuk mencocokan angka
match angka:
    case "1" :
        print(" Anda kurang beruntung")
    case "2" :
        
        i = 0
        while i<3: 
            nama = input("Silahkan Masukkan Nama Anda:")
            print("Nama :",nama)
            tekanan_darah_sistolik = float(input("Masukkan Hasil Tekanan darah sistolik Anda(mmHg):"))
            print(" tekanan darah sistolik:",tekanan_darah_sistolik)
            tekanan_darah_diastolik = float(input(" Masukkan Hasil Tekanan darah diastolik Anda(mmHg):"))
            print(" tekanan darah diastolik:",tekanan_darah_diastolik)
            denyut_nadi = float(input("Masukkan Hasil Cek denyut nadi Anda(bpm):"))
            print(" Denyut Nadi:",denyut_nadi)

            # Mengecek tekanan darah sistolik dan diastolik
            if tekanan_darah_sistolik >180 or tekanan_darah_diastolik >120:
                print("Anda sedang mengalami Krisis Hipertensi segera mencari bantuan medis")
            elif tekanan_darah_sistolik >140 or tekanan_darah_diastolik >90:
                print("Disarankan untuk konsultasi dengan dokter mengenai hipertensi")
            elif 120<=tekanan_darah_sistolik<=139 or 80<=tekanan_darah_diastolik<=89:
                print("Anda berada di dalam kondisi prahipertensi")
            elif tekanan_darah_sistolik <120 and tekanan_darah_diastolik <80:
                print("Tekanan darah anda normal")

            #mengecek denyut nadi
            if denyut_nadi >100:
                print("Anda disarankan untuk memeriksa kondisi kesehatan jantung")
            elif denyut_nadi <60:
                print("Disarankan untuk diperiksa apakah ada gejala yang mengiringi bradikardia")
            elif 60<=denyut_nadi<=100:
                print("Denyut nadi Anda normal")
            i +=1

    case "3" :
        print("Silahkan coba lagi")
    case _ :
        print("Coba masukkan angka yang valid")

Nama : ikrima
 tekanan darah sistolik: 110.0
 tekanan darah diastolik: 120.0
 Denyut Nadi: 80.0
Disarankan untuk konsultasi dengan dokter mengenai hipertensi
Denyut nadi Anda normal
Nama : ikrimaa
 tekanan darah sistolik: 80.0
 tekanan darah diastolik: 120.0
 Denyut Nadi: 90.0
Disarankan untuk konsultasi dengan dokter mengenai hipertensi
Denyut nadi Anda normal
Nama : ikrimaaa
 tekanan darah sistolik: 125.0
 tekanan darah diastolik: 130.0
 Denyut Nadi: 100.0
Anda sedang mengalami Krisis Hipertensi segera mencari bantuan medis
Denyut nadi Anda normal

In [7]:
angka = "0"

#Menggunakan match-case untuk mencocokan angka
match angka: 
    case "1" :
       
        print("Cukup istirahat.") 
        print(" Nama :",nama)
        suhu_tubuh = float(input("Masukkan suhu tubuh Anda"))
        print(" suhu tubuh  :",suhu_tubuh)
        detak_jantung = int(input("Masukkan hasil detak jantung anda"))
        print(" detak jantung  : ",detak_jantung)

        # Mengecek apakah suhu tubuh di atas normal
        if suhu_tubuh > 37.5:

            #Mengecek apakah suhu tubuh sangat tinggi 
            if suhu_tubuh >= 39 and suhu_tubuh >= 50:
                print("Harus segera dirawat.")

                #Mengecek detak jantung jika suhu tubuh tidak terlalu tinggi 
            else:
                #Mengecek apakah detak jantung terlalu tinggi 
                if detak_jantung > 100:
                    print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
                else:
                    print("Detak jantung normal, perbanyak istirahat dan minum cairan.")
        else:
            print("Suhu tubuh normal, tidak ada tindakan khusus yang diperlukan.")
            if detak_jantung > 100:
                print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
            else:
                print("Detak jantung normal, perbanyak istirahat dan minum cairan.")
    case "2" :
        print("Codingan masih kosong.")
    case "3" :
        print("Codingan masih kosong.")
    case _:
        print("Masukkan angka yang valid.")

IndentationError: expected an indented block after 'while' statement on line 9 (2024994331.py, line 10)

In [28]:
for i in range(5,7):
    print(f"{i} adalah angkanya")

5 adalah angkanya
6 adalah angkanya

In [32]:

i = 0

while i<5 :
    print("angkanya adalah",i)
    i +=1

angkanya adalah 0
angkanya adalah 1
angkanya adalah 2
angkanya adalah 3
angkanya adalah 4

In [3]:
for a in range(1,6):
    print(f"{a} adalah angkanya")

1 adalah angkanya
2 adalah angkanya
3 adalah angkanya
4 adalah angkanya
5 adalah angkanya

In [4]:
for a in range(6,1,-1):
    print("angakanya adalah",a)

angakanya adalah 6
angakanya adalah 5
angakanya adalah 4
angakanya adalah 3
angakanya adalah 2

In [5]:
for a in range(5,10,2):
    print("angkanya adalah",a)

angkanya adalah 5
angkanya adalah 7
angkanya adalah 9

In [11]:
harga = int(input("Masukkan Harga"))

if harga > 270000:
    harga_diskon = harga * 0.15
    harga_akhir = harga - harga_diskon

print("diskon sebesar :", harga_diskon)
print("diskon akhir :", harga_akhir)

diskon sebesar : 45000.0
diskon akhir : 255000.0

In [1]:
angka = int(input("Masukkan bilangan :"))

if angka % 2 == 0 :
    print("Bilangan Genap")
else:
    print("Bilangan Ganjil")

Bilangan Genap

In [3]:
found = False
i = 0
while not found:
    if i == 7:
        found = True
        print("Akhirnya no 7 ketemu")
    else:
        i += 1
        print(f"perulangan ke {i}")

perulangan ke 1
perulangan ke 2
perulangan ke 3
perulangan ke 4
perulangan ke 5
perulangan ke 6
perulangan ke 7
Akhirnya no 7 ketemu

In [ ]:
i = 0
total = 0

while i<10 and i<50:
    total += i
    print(f"i:{i} \ntotal:{total}")
    i +=1

In [ ]:
#insert = memasukkan atau menambahkan index
#append = pasti di inputkan di paling akhir
#pop = menghapus index
#remove = menghapus sesuai dengan kata kunci yang dimasukkan (menghilangkan index paling kecil)
# jika menggunakan range akan di ukur sesuai dengan parameternya (n-1) 
# ** pangkat
# break akan keluar dari perulangan terdekat

In [4]:
#membuat list 
buahbuahan = ["apple", 'banana', 'cherry']

buahbuahan.insert(0,"mangga")
#menambahkan elemen ke dalam list
buahbuahan.append('durian')

#mengakses elemen 
pilihan = buahbuahan[0], buahbuahan[3]

#menghapus via index
buahbuahan.pop(0)

#mengubah elemen
buahbuahan[1] = 'blueberry'

#menghapus elemen via kata kunci
buahbuahan.remove('cherry')

print(f"buahnya adalah : {buahbuahan}")

buahnya adalah : ['apple', 'blueberry', 'durian']

In [5]:
#tuple 
buahbuahan = {'Apple', 'apple', 'cherry'}

#menambahkan elemen via kata kunci 
buahbuahan.add('nanas')
buahbuahan.add('banana')

#menghapus elemen via kata kunci
buahbuahan.remove('banana')
buahbuahan

{'Apple', 'apple', 'cherry', 'nanas'}

In [4]:
#tuple 
buahbuahan = ('apple', 'banana', 'cherry', 'cherry')

coba = buahbuahan[2], buahbuahan[3]

print(f"hasilnya adalah {buahbuahan}")

hasilnya adalah ('apple', 'banana', 'cherry', 'cherry')

In [ ]:
buahbuahan = ('apple', 'banana', 'cherry', 'cherry')

for i in range(3):
    print(buahbuahan[i])

In [6]:
buahbuahan = ('apple', 'banana', 'cherry', 'cherry')

for i in range(1,4):
    print(buahbuahan[i])

banana
cherry
cherry

In [7]:
buahbuahan = ('apple', 'banana', 'cherry', 'mangga', 'durian')

for i in range(4,1,-1):
    print(buahbuahan[i])

durian
mangga
cherry

In [6]:
buahbuahan = ('apple', 'banana', 'cherry', 'mangga', 'durian')

for i in range(4,-1,-2):
    print(buahbuahan[i])

durian
cherry
apple

In [8]:
buahbuahan = ('apple', 'banana', 'cherry', 'mangga', 'durian')

for i in range(4,0,-2):
    print(buahbuahan[i])

durian
cherry

In [10]:
buahbuahan = ('apple', 'banana', 'cherry', 'mangga', 'durian')

for i in range(1,4,2):
    print(buahbuahan[i])

banana
mangga

In [11]:
buahbuahan = ('apple', 'banana', 'cherry', 'mangga', 'durian')

for i in range(4,1,-2):
    print(buahbuahan[i])

durian
cherry

In [12]:
#set
no_unik = {1,2,3,4,5}

#iterasi menggunakan for 
for no in no_unik:
    print(no)

1
2
3
4
5

In [14]:
nilai = [80,87,35,90,86,90]

for i in nilai:
    if i > 80:
        print ("A")
    else:
        print("B")

B
A
B
A
A
A

In [2]:
def masukan_angka(a,b):
    print("Fungsi untuk menjalankan dua angka")
    hasil = a + b 
    return hasil, 

hasil_penjumlahan = masukan_angka(3, 5)
print(f"Hasil penjumlahan: {hasil_penjumlahan}")

Fungsi untuk menjalankan dua angka
Hasil penjumlahan: (8, 15)

In [3]:
def cobain(angka1, angka2):
    hasilnya = angka1*angka2
    return hasilnya

cobain_lagi = cobain(10, 20)
print(f"hasil akhir adalah: {cobain_lagi}")

hasil akhir adalah: 200

In [7]:
def coba_percabangan(a, b):
    if  a > b:
        print("hitungin dong")
        hasil = a * b
    else:
        print("tidak bisa dihitung")
        hasil = "tidak ada"
    return hasil

cobain_terus = coba_percabangan(1, 2)
print(f"hasil function: {cobain_terus}")

tidak bisa dihitung
hasil function: tidak ada

In [1]:
def tambah_semua(*args):
    return sum(args)

# memanggil fungsi
hasil = tambah_semua(1, 2, 3, 4, 10, 19, 19)
rata_rata = hasil/7
print(f"Hasil penjumlahan: {hasil}")
print(f"rata-rata adalah: {rata_rata}")

Hasil penjumlahan: 58
rata-rata adalah: 8.285714285714286

In [11]:
def check_number(*args):
    results = []
    for num in args:
        if num > 0:
            results.append(f"{num} adalah bilangan positif")
        elif num < 0 :
            results.append(f" {num} adalah bilangan negatif")
        else:
            results.append(f"{num} adalah nol")
    return results

# Contoh pengguna fungsi
numbers = [10, -3, 0, 7, -1]
results = check_number(*numbers)
for result in results:
    print(result)

10 adalah bilangan positif
 -3 adalah bilangan negatif
0 adalah nol
7 adalah bilangan positif
 -1 adalah bilangan negatif

In [12]:
def greet(**kwargs):
    if 'name' in kwargs:
        print(f"Hello, {kwargs['name']}!")
    else:
        print("Hello, Stranger!")

# memanggil fungsi dengan argumen kata kunci
greet(name="Ikrima")

# memanggil fungsi tanpa argumen kata kunci
greet()

Hello, Ikrima!
Hello, Stranger!

In [4]:
def luar(argumen1):
    print(f"ini adalah fungsi luar dengan parameter: {argumen1}")

    def dalam(inner_param):
        print(f"ini adalah fungsi dalam dengan parameter: {inner_param}")

        dalam("dalam")
        
luar("Ikrima Nurul")

ini adalah fungsi luar dengan parameter: Ikrima Nurul

In [2]:
def hitung_IMT(berat_badan, tinggi_badan):
    hasil = berat_badan / (tinggi_badan ** 2)
    if hasil < 18.5:
        kategori = "Underweight"
    elif 18.5 <= hasil < 25:
        kategori = "Normal weight"
    elif 25 <= hasil < 30:
        kategori = "Overweight"
    else:
        kategori = "Obesity"
    return round(hasil, 2), kategori

i = 0
while  i < 4:
    nama = input("Masukkan Nama Anda: ")
    berat_badan = float(input("Silakan masukkan berat badan Anda (kilogram): "))
    tinggi_badan = float(input("Silakan masukkan tinggi badan Anda (meter): ")) 

    IMT, kategori = hitung_IMT(berat_badan, tinggi_badan)
    print(f"Nama: {nama}")
    print(f"Berat Badan: {berat_badan} kg")
    print(f"Tinggi Badan: {tinggi_badan} m")
    print(f"IMT: {IMT}")
    print(f"Kategori Kesehatan: {kategori}")
    i += 1

Nama: ikrima
Berat Badan: 40.0 kg
Tinggi Badan: 1.56 m
IMT: 16.44
Kategori Kesehatan: Underweight
Nama: ikrimaa
Berat Badan: 50.0 kg
Tinggi Badan: 1.7 m
IMT: 17.3
Kategori Kesehatan: Underweight
Nama: ikrimaaa
Berat Badan: 60.0 kg
Tinggi Badan: 1.5 m
IMT: 26.67
Kategori Kesehatan: Overweight
Nama: ikrimaaaaa
Berat Badan: 70.0 kg
Tinggi Badan: 1.47 m
IMT: 32.39
Kategori Kesehatan: Obesity

In [1]:
def percabangan(a,b):
    if a > b:
        hitung = a ** b
    else :
        print("tidak bisa dihitung")
    def perulangan(z):
        i = 0
        while i < z:
            print(f"perulangan ke:{i}")
            i += 1
        return z
    a = perulangan(5)
    print(a)
    return hitung
percabangan(5,4)

perulangan ke:0
perulangan ke:1
perulangan ke:2
perulangan ke:3
perulangan ke:4
5

625

In [2]:

nama_pasien=[]
jumlah_pasien = int(input("masukan jumlah pasien"))
for i in range (jumlah_pasien):
    pasien = input(f"masukkan pasien ke {i+1}:")
    nama_pasien.append(pasien)
nama_pasien

['ani', 'asri', 'dang', 'jel', 'ikrima', 'ina']

In [ ]:
# Memasukkan jumlah pasien 
jumlah_pasien = int(input("Masukkan jumlah pasien:"))

# Membuat list untuk menyimpan nama pasien
nama_pasien=[]

# Menggunakan perulangan untuk memasukan nama setiap pasien 
for i in range(jumlah_pasien):
    nama = input(f"Masukkan nama pasien ke {i+1}:")
    nama_pasien.append(nama)

# Menampilkan nama-nama pasien yang telah dimasukkan
print("\nNama-nama pasien yang telah dimasukkan:")
for z in nama_pasien:
    print(z)

In [16]:
nama_pasien=[]
jumlah_pasien = int(input("masukan jumlah pasien"))
for i in range (jumlah_pasien):
    pasien = input(f"masukkan pasien ke {i+1}:")
    nama_pasien.append(pasien)
nama_pasien

detak_jantung = []
hasil_detak_jantung = int (input("masukan hasil detak jantung:"))
for i in range (hasil_detak_jantung):
    pasien = input(f"masukkan pasien ke {i+1}:")
    hasil_detak_jantung.append(pasien)
hasil_detak_jantung 

sum(nama_pasien)/(detak_jantung)

AttributeError: 'int' object has no attribute 'append'

In [ ]:
# Meminta jumlah pasien
jumlah_pasien = int(input("Masukkan jumlah pasien yang akan didaftarkan: "))

# List untuk menyimpan data pasien
nama_pasien = []
detak_jantung = []

# Memasukkan data setiap pasien
for i in range(jumlah_pasien):
    nama = input(f"Masukkan nama pasien ke-{i+1}: ")
    detak_per_menit = int(input(f"Masukkan detak jantung per menit pasien ke-{i+1}: "))
    
    # Mengubah detak per menit ke detik
    detak_per_detik = detak_per_menit / 60
    
    # Menyimpan data
    nama_pasien.append(nama)
    detak_jantung.append(detak_per_detik)

# Menghitung rata-rata detak jantung dalam detik
rata_rata_detak = sum(detak_jantung) / len(detak_jantung)
print(f"\nRata-rata detak jantung seluruh pasien dalam detik: {rata_rata_detak:.2f}")

# Menampilkan nama-nama pasien yang memiliki detak jantung di atas 120 per detik
print("\nPasien dengan detak jantung di atas 120 per detik:")
for i in range(jumlah_pasien):
    if detak_jantung[i] > 120 / 60:  # Mengonversi 120 per menit ke detik
        print(nama_pasien[i])

In [ ]:
# Soal
# Anda bekerja sebagai pengembang perangkat lunak di sebuah klinik kesehatan yang ingin membuat aplikasi sederhana untuk mencatat data pasien dan menganalisis tekanan darah. Tugas Anda adalah membuat program yang dapat melakukan hal berikut:
# 1. Meminta pengguna untuk memasukkan jumlah pasien yang akan didaftarkan.
# 2. Untuk setiap pasien, minta pengguna memasukkan nama, tekanan darah sistolik, dan tekanan darah diastolik.
# 3. Simpan data setiap pasien dalam tiga list terpisah, satu untuk nama, satu untuk tekanan darah sistolik, dan satu untuk tekanan darah diastolik.
# 4. Hitung dan tampilkan rata-rata tekanan darah sistolik dan diastolik dari semua pasien.
# 5. Tampilkan nama-nama pasien yang memiliki tekanan darah sistolik di atas 140 atau tekanan darah diastolik di atas 90, yang menandakan hipertensi.

# Jawaban :

# Meminta jumlah pasien
jumlah_pasien = int(input("Masukkan jumlah pasien yang akan didaftarkan: "))

# List untuk menyimpan data pasien
nama_pasien = []
tekanan_darah_diastolik = []
tekanan_darah_sistolik = []

# Memasukkan data setiap pasien
for i in range(jumlah_pasien):
    nama = input(f"Masukkan nama pasien ke-{i+1}: ")
    tekanan_darah_sistolik_pasien = int(input(f"Masukkan tekanan darah sistolik pasien ke-{i+1}: "))
    tekanan_darah_diastolik_pasien = int(input(f"Masukkan tekan darah diastolik pasien ke-{i+1}: "))

     # Menyimpan data
    nama_pasien.append(nama)
    tekanan_darah_sistolik.append(tekanan_darah_sistolik_pasien)
    tekanan_darah_diastolik.append(tekanan_darah_diastolik_pasien)

# Menghitung rata-rata tekanan darah sistolik dan tekanan darah diastolik
rata_rata_tekanan_darah = sum(tekanan_darah_sistolik + tekanan_darah_diastolik) / len(nama_pasien)
print(f"\nRata-rata tekanan darah sistolik dan tekanan darah diastolik seluruh pasien: {rata_rata_tekanan_darah:.2f}")

# Menampilkan nama-nama pasien yang memiliki tekanan darah sistolik dan tekanan darah diastolik 
print("\nPasien dengan tekanan darah sistolik di atas 140 atau tekanan darah diastolik di atas 90:")
for i in range(len(nama_pasien)):
    if tekanan_darah_sistolik[i] > 140 or tekanan_darah_diastolik [i] > 90:
        print(nama_pasien[i])

Rata-rata tekanan darah sistolik dan tekanan darah diastolik seluruh pasien: 342.50

Pasien dengan tekanan darah sistolik di atas 140 atau tekanan darah diastolik di atas 90:
sondang
ikrima

In [1]:
def some_func(a, b, c=3):
    return a + b * c

print(some_func(1,2))

7

In [2]:
a = [10, 2, 7, 8, 4, 5, 8, 3, 5, 6]
for i in range(len(a)):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [ ]:
data = [5, 12, 8, 20, 7, 14, 11]
filtered_data = []
i = 0 

while i < len(data):
    if data[i] > 10:
        filtered_data.insert(0, data[i])
        if data[i] > 15:
i += 1

print('Data yang sudah difilter:', filtered_data)

IndentationError: expected an indented block after 'if' statement on line 8 (1634358726.py, line 9)

In [7]:
suhu = [36.5, 38.2, 37.0, 39.1, 37.8, 36.9]
yang_dipilih =[]

for i in range(0,4):
    if suhu[i] >= 36.9:
        yang_dipilih.append(suhu[i])
    i += 1

print('suhu tubuh yang melebihi batas:', yang_dipilih)

suhu tubuh yang melebihi batas: [38.2, 37.0, 39.1]

In [4]:
# membuat dictionary kosong 
kamusku = {} 

# membuat dictionary dengan data awal
kamusku = {'Nama' : 'Ikrima', 'Usia' : 20, 'kota' : 'Bandung',}

In [5]:
nama_saya = kamusku['Nama']
print (f'nama saya adalah {nama_saya}')
usia_saya = kamusku['Usia']
print (f'usia saya adalah {usia_saya}')
kota_saya = kamusku['kota']
print (f'kota saya adalah {kota_saya}')

nama saya adalah Ikrima
usia saya adalah 20
kota saya adalah Bandung

In [8]:
kamusku = {'Nama' : 'Ikrima', 'Usia' : 20, 'kota' : 'Bandung',}
# menambah item baru 
kamusku['pekerjaan'] = 'System Analyst'
kamusku 

# memodifikasi item yang ada 
kamusku['Usia'] = 17
kamusku

{'Nama': 'Ikrima',
 'Usia': 17,
 'kota': 'Bandung',
 'pekerjaan': 'System Analyst'}

In [ ]:
# menghapus item dengan del 
del kamusku['kota']
kamusku

# menggunakan pop untuk menghapus dan mendapatkan nilai dimasukkan ke dalam variabel
# kota = kamusku.pop('kota')
# kota
# cara memanggil value print(my_dict['kota'] nama value nya)

{'Nama': 'Ikrima', 'Usia': 17, 'pekerjaan': 'System Analyst'}

In [12]:
dict1 = {'a' : 1, 'b' : 2,}
dict2 = {'b' : 3, 'c' : 4,}
dict1.update(dict2)
dict1

{'a': 1, 'b': 3, 'c': 4}

In [15]:
kamusku = {'Nama' : 'Ikrima', 'Usia' : 20, 'kota' : 'Bandung',}
kamusku['Usia'] = 17

for i in kamusku:
    print(i, kamusku[i])

Nama Ikrima
Usia 17
kota Bandung

In [16]:
kamusku = {'Nama' : 'Ikrima', 'Usia' : 20, 'kota' : 'Bandung',}
kamusku['Usia'] = 17

for i in kamusku.values():
    print(i)

Ikrima
17
Bandung

In [17]:
kamusku = {'Nama' : 'Ikrima', 'Usia' : 20, 'kota' : 'Bandung',}
kamusku['Usia'] = 17
kamusku

{'Nama': 'Ikrima', 'Usia': 17, 'kota': 'Bandung'}

In [18]:
for i,j in kamusku.items():
    print(i,j)

Nama Ikrima
Usia 17
kota Bandung

In [19]:
# dictionary bersarang yang berisi informasi orang 
dictionary_banyak = {
    'orang1': {'nama' : 'Ikrima', 'usia' : 20},
    'orang2': {'nama' : 'rida', 'usia' : 21}
}

In [23]:
nama = (dictionary_banyak['orang1']['nama'])
usia = (dictionary_banyak['orang1']['usia'])
print (f"nama orang ke 1 adalah {nama}, usianya {usia}")
nama = (dictionary_banyak['orang2']['nama'])
usia = (dictionary_banyak['orang2']['usia'])
print (f"nama orang ke 2 adalah {nama}, usianya {usia}")

nama orang ke 1 adalah Ikrima, usianya 20
nama orang ke 2 adalah rida, usianya 21

In [ ]:
# Iterasi melalui dictionary bersarang
for i,j in dictionary_banyak.items():
    print(f" ID Orang: {i}")
    print(f" Nama: {j['nama']}")

 ID Orang: orang1
 Nama: Ikrima
 ID Orang: orang2
 Nama: rida

In [50]:
data_limbah = {
    'lokasi1' : {
        'nama_lokasi' : 'Area Kota 1',
        'jumlah_limbah' : {
            'plastik' : 500,
            'organik' : 300,
            'logam' : 200
        }
    }, 
'lokasi2' : {
    'nama_lokasi' : 'Area Kota 2',
    'jumlah_limbah' : {
        'plastik' : 700,
        'organik' : 400,
        'logam' : 250
    }
}, 
'lokasi3' : {
    'nama_lokasi' : 'Area Kota 3',  
    'jumlah_limbah' : {
        'plastik' : 600,
        'organik' : 350,
        'logam' : 300
    }
}
}

#  1. print semua data lokasi
print(data_limbah)

{'lokasi1': {'nama_lokasi': 'Area Kota 1', 'jumlah_limbah': {'plastik': 500, 'organik': 300, 'logam': 200}}, 'lokasi2': {'nama_lokasi': 'Area Kota 2', 'jumlah_limbah': {'plastik': 700, 'organik': 400, 'logam': 250}}, 'lokasi3': {'nama_lokasi': 'Area Kota 3', 'jumlah_limbah': {'plastik': 600, 'organik': 350, 'logam': 300}}}

In [49]:
data_limbah = {
    'lokasi1' : {
        'nama_lokasi' : 'Area Kota 1',
        'jumlah_limbah' : {
            'plastik' : 500,
            'organik' : 300,
            'logam' : 200
        }
    }, 
'lokasi2' : {
    'nama_lokasi' : 'Area Kota 2',
    'jumlah_limbah' : {
        'plastik' : 700,
        'organik' : 400,
        'logam' : 250
    }
}, 
'lokasi3' : {
    'nama_lokasi' : 'Area Kota 3',  
    'jumlah_limbah' : {
        'plastik' : 600,
        'organik' : 350,
        'logam' : 300
    }
}
}

#  2. print hanya jumlah limbah plastik dari 2 lokasi 

print(data_limbah['lokasi1']['jumlah_limbah']['plastik'])
print(data_limbah['lokasi2']['jumlah_limbah']['plastik'])

500
700

In [51]:
data_limbah = {
    'lokasi1' : {
        'nama_lokasi' : 'Area Kota 1',
        'jumlah_limbah' : {
            'plastik' : 500,
            'organik' : 300,
            'logam' : 200
        }
    }, 
'lokasi2' : {
    'nama_lokasi' : 'Area Kota 2',
    'jumlah_limbah' : {
        'plastik' : 700,
        'organik' : 400,
        'logam' : 250
    }
}, 
'lokasi3' : {
    'nama_lokasi' : 'Area Kota 3',  
    'jumlah_limbah' : {
        'plastik' : 600,
        'organik' : 350,
        'logam' : 300
    }
}
}

# nomor 3 print nama lokasi 3
print(data_limbah['lokasi3']['nama_lokasi'])

Area Kota 3

In [54]:
data_limbah = {
    'lokasi1' : {
        'nama_lokasi' : 'Area Kota 1',
        'jumlah_limbah' : {
            'plastik' : 500,
            'organik' : 300,
            'logam' : 200
        }
    }, 
'lokasi2' : {
    'nama_lokasi' : 'Area Kota 2',
    'jumlah_limbah' : {
        'plastik' : 700,
        'organik' : 400,
        'logam' : 250
    }
}, 
'lokasi3' : {
    'nama_lokasi' : 'Area Kota 3',  
    'jumlah_limbah' : {
        'plastik' : 600,
        'organik' : 350,
        'logam' : 300
    }
}
}

# 4. masukkan jumlah limbah organik dan logam setiap lokasi 
print (data_limbah['lokasi1']['jumlah_limbah']['organik']) = 300
data_limbah['lokasi1']['jumlah_limbah']['logam'] = 200
data_limbah['lokasi2']['jumlah_limbah']['organik'] = 400
data_limbah['lokasi2']['jumlah_limbah']['logam'] = 250
data_limbah['lokasi3']['jumlah_limbah']['organik'] = 350
data_limbah['lokasi3']['jumlah_limbah']['logam'] = 300

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (308803217.py, line 29)

In [ ]:
data_sampah = {
    'sampah organik': {
        'jumlah_sampah': '120 kg',
        'lokasi_pembuangan': 'TPA Organik'
    },
    'sampah anorganik': {
        'jumlah_sampah': '250 kg',
        'lokasi_pembuangan': 'Pusat Daur Ulang'
    },
    'sampah B3': {
        'jumlah_sampah': '60 kg',
        'lokasi_pembuangan': 'Tempat Pengolahan B3'
    }
}

# 1. Menampilkan jumlah semua directory 
for i,j in data_sampah.items():
    print(f" jenis sampah: {i}")
    print(f" jumlah sampah: {j['jumlah_sampah']}")
    print(f" lokasi pembuangan: {j['lokasi_pembuangan']}")

 jenis sampah: sampah organik
 jumlah sampah: 120 kg
 lokasi pembuangan: TPA Organik
 jenis sampah: sampah anorganik
 jumlah sampah: 250 kg
 lokasi pembuangan: Pusat Daur Ulang
 jenis sampah: sampah B3
 jumlah sampah: 60 kg
 lokasi pembuangan: Tempat Pengolahan B3

In [ ]:
data_sampah = {
    'sampah organik': {
        'jumlah_sampah': '120 kg',
        'lokasi_pembuangan': 'TPA Organik'
    },
    'sampah anorganik': {
        'jumlah_sampah': '250 kg',
        'lokasi_pembuangan': 'Pusat Daur Ulang'
    },
    'sampah B3': {
        'jumlah_sampah': '60 kg',
        'lokasi_pembuangan': 'Tempat Pengolahan B3'
    }
}
print(f"Jumlah sampah: {data_sampah['sampah anorganik']['jumlah_sampah']}") 
print(f"Lokasi pembuangan: {data_sampah['sampah B3']['lokasi_pembuangan']}")

Jumlah sampah: 250 kg
Lokasi pembuangan: Tempat Pengolahan B3

In [27]:
data_sampah = {
    'sampah organik': {
        'jumlah_sampah': '120 kg',
        'lokasi_pembuangan': 'TPA Organik'
    },
    'sampah anorganik': {
        'jumlah_sampah': '250 kg',
        'lokasi_pembuangan': 'Pusat Daur Ulang'
    },
    'sampah B3': {
        'jumlah_sampah': '60 kg',
        'lokasi_pembuangan': 'Tempat Pengolahan B3'
    }
}

data_sampah['sampah elektronik'] = {
    'jumlah_sampah': '40 kg',
    'lokasi_pembuangan': 'Pusat Pengelolaan Elektronik'
}

data_sampah['sampah organik'] = {
    'jumlah_sampah' : '130 kg'
}
for i,j in data_sampah.items():
    print(f" jenis sampah: {i}")
    print(f" jumlah sampah: {j['jumlah_sampah']}")
    if 'lokasi_pembuangan' in j :
        print(f" lokasi pembuangan: {j['lokasi_pembuangan']}")

 jenis sampah: sampah organik
 jumlah sampah: 130 kg
 jenis sampah: sampah anorganik
 jumlah sampah: 250 kg
 lokasi pembuangan: Pusat Daur Ulang
 jenis sampah: sampah B3
 jumlah sampah: 60 kg
 lokasi pembuangan: Tempat Pengolahan B3
 jenis sampah: sampah elektronik
 jumlah sampah: 40 kg
 lokasi pembuangan: Pusat Pengelolaan Elektronik

In [2]:
data_sampah = {
    'sampah organik': {
        'jumlah_sampah': '120 ',
        'lokasi_pembuangan': 'TPA Organik'
    },
    'sampah anorganik': {
        'jumlah_sampah': '250 ',
        'lokasi_pembuangan': 'Pusat Daur Ulang'
    },
    'sampah B3': {
        'jumlah_sampah': '60 ',
        'lokasi_pembuangan': 'Tempat Pengolahan B3'
    }
}

print(f"Jumlah sampah: {data_sampah['sampah anorganik']['jumlah_sampah']}") 
print(f"Lokasi pembuangan: {data_sampah['sampah B3']['lokasi_pembuangan']}")  

data_sampah['sampah elektronik'] = {
    'jumlah_sampah': '40 ',
    'lokasi_pembuangan': 'Pusat Pengelolaan Elektronik'
}

data_sampah['sampah organik'] = {
    'jumlah_sampah' : '130 '
}
for i,j in data_sampah.items():
    print(f" jenis sampah: {i}")
    print(f" jumlah sampah: {j['jumlah_sampah']} kg")
    if 'lokasi_pembuangan' in j :
        print(f" lokasi pembuangan: {j['lokasi_pembuangan']}")

    jumlah_sampah_int = int(j['jumlah_sampah'].strip())  # untuk menghapus spasi dan mengonversi ke int

    # soal nomor 3
    if jumlah_sampah_int > 100:
        print(f"Pengelolaan intensif diperlukan untuk {i} karena jumlah sampah lebih dari 100 kg.")
    else:
        print(f"{i} dalam batas aman")

Jumlah sampah: 250
Lokasi pembuangan: Tempat Pengolahan B3
 jenis sampah: sampah organik
 jumlah sampah: 130  kg
Pengelolaan intensif diperlukan untuk sampah organik karena jumlah sampah lebih dari 100 kg.
 jenis sampah: sampah anorganik
 jumlah sampah: 250  kg
 lokasi pembuangan: Pusat Daur Ulang
Pengelolaan intensif diperlukan untuk sampah anorganik karena jumlah sampah lebih dari 100 kg.
 jenis sampah: sampah B3
 jumlah sampah: 60  kg
 lokasi pembuangan: Tempat Pengolahan B3
sampah B3 dalam batas aman
 jenis sampah: sampah elektronik
 jumlah sampah: 40  kg
 lokasi pembuangan: Pusat Pengelolaan Elektronik
sampah elektronik dalam batas aman

In [1]:
a = [10,2,8,7,4,5,8,3,5,6]
for i in range(len(a)):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [5]:
data = [5, 12, 8, 20, 7, 14, 11]
filtered_data =[]
i=0

while i < len(data):
    if data[i] > 10:
        filtered_data.insert(0, data[i])
        if data[i] > 15:
            i += 1
    i += 1

print('data yang sudah di filter :', filtered_data)

data yang sudah di filter : [11, 14, 20, 12]

In [6]:
def some_func(a, b, c=3):
    return a + b * c

print (some_func(1, 2))  # Output: 7

7

In [4]:
import numpy as np

In [3]:
a = np.array([1, 2, 3])
print(f"nilai array : {a[2]}")

nilai array : 3

In [5]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

print(a)
# Mengakses elemen
element = a[2,2]
# Mengakses satu baris
# row = [2,:]
# Mengakses satu kolom 
# column = a[:, 1]

print("Element:", element)
# print("Row:", row)
# print("Column:",column)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
Element: 9

In [7]:
import numpy as np

a = np.array([10, 2, 3, 4, 5, 9, 8])

print("Menggunakan perulangan for:")
# for i in range (1,4):
#     print(i)

for i in a:
    print(i)

Menggunakan perulangan for:
10
2
3
4
5
9
8

In [8]:
import numpy as np

array1 = np.array([[1, 2, 3], [4, 5, 6]])
array2 = np.array([[7, 8, 9], [10, 11, 12]])

for i in range(array1.shape[0]) : #Iterasi setiap baris
    for j in range(array1.shape[1]) : #Iterasi setiap kolom
        print(f"Array[{i},{j}]: {array1[i, j]}, Array2[{i},{j}]: {array2[i, j]}")

Array[0,0]: 1, Array2[0,0]: 7
Array[0,1]: 2, Array2[0,1]: 8
Array[0,2]: 3, Array2[0,2]: 9
Array[1,0]: 4, Array2[1,0]: 10
Array[1,1]: 5, Array2[1,1]: 11
Array[1,2]: 6, Array2[1,2]: 12

In [ ]:
import numpy as np

sampah_wilayah1 = np.array([1.2, 1.5, 1.3, 1.7, 1.6, 1.4, 1.1, 1.8, 1.5, 1.9,
                            1.3, 1.6, 1.7, 1.4, 1.2, 1.5, 1.3, 1.9, 1.8, 1.7,
                            1.5, 1.3, 1.2, 1.4, 1.6, 1.5, 1.9, 1.8, 1.6, 1.7]) # sampah per ton

sampah_wilayah2 = np.array([1.1, 1.3, 1.4, 1.6, 1.5, 1.7, 1.2, 1.6, 1.7, 1.8,
                            1.4, 1.5, 1.6, 1.3, 1.1, 1.4, 1.5, 1.8, 1.7, 1.6,
                            1.4, 1.2, 1.3, 1.5, 1.8, 1.5, 1.9, 1.8, 1.9, 1.8]) # sampah per ton

# 1. Hitung total sampah yang dikumpulkan di masing-masing wilayah selama sebulan
jumlah_sampah_wilayah1 = np.sum(sampah_wilayah1)
jumlah_sampah_wilayah2 = np.sum(sampah_wilayah2)

print(" Jumlah sampah selama satu bulan ")
print(f" Wilayah 1: {jumlah_sampah_wilayah1:.2f} ton")
print(f" Wilayah 2: {jumlah_sampah_wilayah2:.2f} ton")

 Jumlah sampah selama satu bulan
 Wilayah 1: 45.90 ton
 Wilayah 2: 45.90 ton

In [2]:
import numpy as np

sampah_wilayah1 = np.array([1.2, 1.5, 1.3, 1.7, 1.6, 1.4, 1.1, 1.8, 1.5, 1.9,
                            1.3, 1.6, 1.7, 1.4, 1.2, 1.5, 1.3, 1.9, 1.8, 1.7,
                            1.5, 1.3, 1.2, 1.4, 1.6, 1.5, 1.9, 1.8, 1.6, 1.7]) # sampah per ton

sampah_wilayah2 = np.array([1.1, 1.3, 1.4, 1.6, 1.5, 1.7, 1.2, 1.6, 1.7, 1.8,
                            1.4, 1.5, 1.6, 1.3, 1.1, 1.4, 1.5, 1.8, 1.7, 1.6,
                            1.4, 1.2, 1.3, 1.5, 1.8, 1.5, 1.9, 1.8, 1.9, 1.8]) # sampah per ton

# 2. Tentukan hari di mana wilayah pertama mengumpulkan lebih banyak sampah dari pada wilayah kedua dan sebaliknya
hari_wilayah1 = []
hari_wilayah2 = []

for i in range(len(sampah_wilayah1)):
    if sampah_wilayah1[i] > sampah_wilayah2[i]:
        hari_wilayah1.append(i + 1) # di tambah 1 karena dimulai dari indeks 0
    elif sampah_wilayah2[i] > sampah_wilayah1[i]:
        hari_wilayah2.append(i + 1)

print(f" hari di mana wilayah 1 mengumpulkan lebih banyak sampah dari wilayah 2 : {hari_wilayah1}")
print(f" hari di mana wilayah 2 mengumpulkan lebih banyak sampah dari wilayah 1 : {hari_wilayah2}")

 hari di mana wilayah 1 mengumpulkan lebih banyak sampah dari wilayah 2 : [1, 2, 4, 5, 8, 10, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22]
 hari di mana wilayah 2 mengumpulkan lebih banyak sampah dari wilayah 1 : [3, 6, 7, 9, 11, 17, 23, 24, 25, 29, 30]

In [39]:
import numpy as np

sampah_wilayah1 = np.array([1.2, 1.5, 1.3, 1.7, 1.6, 1.4, 1.1, 1.8, 1.5, 1.9,
                            1.3, 1.6, 1.7, 1.4, 1.2, 1.5, 1.3, 1.9, 1.8, 1.7,
                            1.5, 1.3, 1.2, 1.4, 1.6, 1.5, 1.9, 1.8, 1.6, 1.7]) # sampah per ton

sampah_wilayah2 = np.array([1.1, 1.3, 1.4, 1.6, 1.5, 1.7, 1.2, 1.6, 1.7, 1.8,
                            1.4, 1.5, 1.6, 1.3, 1.1, 1.4, 1.5, 1.8, 1.7, 1.6,
                            1.4, 1.2, 1.3, 1.5, 1.8, 1.5, 1.9, 1.8, 1.9, 1.8]) # sampah per ton

# 3. Hitung total sampah yang dikumpulkan oleh kedua wilayah setiap harinya.
total_sampah_setiap_hari = sampah_wilayah1 + sampah_wilayah2

print(f" Total sampah setiap hari: {total_sampah_setiap_hari}")

 Total sampah setiap hari: [2.3 2.8 2.7 3.3 3.1 3.1 2.3 3.4 3.2 3.7 2.7 3.1 3.3 2.7 2.3 2.9 2.8 3.7
 3.5 3.3 2.9 2.5 2.5 2.9 3.4 3.  3.8 3.6 3.5 3.5]

In [22]:
import pandas as pd 

data_list = [
    ['Plastik', 5, True],
    ['Kertas', 2, True],
    ['Logam', 3, True],
    ['Kaca', 4, False]
]

df_list = pd.DataFrame(data_list, columns=['Jenis', 'Berat (kg)', 'Daur Ulang'])
df_list

     Jenis  Berat (kg)  Daur Ulang
0  Plastik           5        True
1   Kertas           2        True
2    Logam           3        True
3     Kaca           4       False

In [ ]:
# Menggunakan itterows untuk mengiterasi setiap baris 
for i, row in df_list.iterrows():
    print(f"Perulangan ke {i + 1} adalah {row}") # untuk setiap baris di dadalm row

# for i, row in df_list.iterrows():
#     print(i) # untuk mengakses index baris

Perulangan ke 1 adalah Jenis         Plastik
Berat (kg)          5
Daur Ulang       True
Name: 0, dtype: object
Perulangan ke 2 adalah Jenis         Kertas
Berat (kg)         2
Daur Ulang      True
Name: 1, dtype: object
Perulangan ke 3 adalah Jenis         Logam
Berat (kg)        3
Daur Ulang     True
Name: 2, dtype: object
Perulangan ke 4 adalah Jenis          Kaca
Berat (kg)        4
Daur Ulang    False
Name: 3, dtype: object

In [20]:
for i, row in df_list.iterrows():
    print(f"Perulangan ke {i + 1} adalah {row['Jenis']}") # untuk setiap baris di dadalm row

Perulangan ke 1 adalah Plastik
Perulangan ke 2 adalah Kertas
Perulangan ke 3 adalah Logam
Perulangan ke 4 adalah Kaca

In [36]:
import pandas as pd 

data_list = [
    ['Plastik', 5, True],
    ['Kertas', 2, True],
    ['Logam', 3, True],
    ['Kaca', 4, False]
]

# if row['Daur Ulang'] == True:
#     print(row['Jenis'])
# else:
#     print('Tidak Daur Ulang')

for index, row in df_list.iterrows():
    a = row['Daur Ulang']
    if a == True:
        print(f"Jenis: {row['Jenis']}, Berat: {row['Berat (kg)']} kg, Daur Ulang:{a}")

Jenis: Plastik, Berat: 5 kg, Daur Ulang:True
Jenis: Kertas, Berat: 2 kg, Daur Ulang:True
Jenis: Logam, Berat: 3 kg, Daur Ulang:True

In [3]:
import pandas as pd 

data_angka = [
    [1, 2],
    [3, 4],
    [5, 6],
    [7, 8],
    [9, 10]
]

df_list1 = pd.DataFrame(data_angka, columns=['Angka Ganjil', 'Angka Genap'])
df_list1

   Angka Ganjil  Angka Genap
0             1            2
1             3            4
2             5            6
3             7            8
4             9           10

In [ ]:
import numpy as np
import pandas as pd

data_array = np.array([
    ['Plastik', 5, True],
    ['Kertas', 2, True],
    ['Logam', 3, True],
    ['Kaca', 4, False]
    ])

In [4]:
import pandas as pd 

data_kamus = {
    'Jenis' : ['Plastik', 'Kertas', 'Logam', 'Kaca'],
    'Berat (kg)' : [5, 2, 3, 4],
    'Daur Ulang' : [True, True, True, False]
}

df_kamus = pd.DataFrame(data_kamus)
df_kamus

     Jenis  Berat (kg)  Daur Ulang
0  Plastik           5        True
1   Kertas           2        True
2    Logam           3        True
3     Kaca           4       False

In [ ]:
# df_list.to_csv('coba_export_list.csv', index=False)

In [10]:
df_list.to_excel('coba_excel.xlsx', index=False)

In [11]:
#  mengubah membaca file excel di python 

# Baca file Excel
df_excel = pd.read_excel('coba_excel.xlsx', sheet_name='Sheet1')
df_excel

     Jenis  Berat (kg)  Daur Ulang
0  Plastik           5        True
1   Kertas           2        True
2    Logam           3        True
3     Kaca           4       False

In [ ]:
filter_df = df_excel['Jenis']
filter_df

0    Plastik
1     Kertas
2      Logam
3       Kaca
Name: Jenis, dtype: object

In [ ]:
# Mengakses dalam bari ke 

a = df_list.loc[3,'Jenis'] # pake nama kolom
b = df_list.iloc[1,0] # pake angka
print(a)
print(b)

Kaca
Kertas

In [ ]:
a  = 0 
print(df_list)

In [11]:
import pandas as pd
file_path = 'disperkim-od_16985_jumlah_produksi_sampah_berdasarkan_kabupatenkota_v3_data.xlsx'
data_sampah_kota_bandung = pd.read_excel(file_path, sheet_name='data')

df_sampah_kota_bandung = data_sampah_kota_bandung[['nama_kabupaten_kota', 'jumlah_produksi_sampah', 'satuan', 'tahun']]
print("Data Produksi Sampah Jawa Barat:")
df_sampah_kota_bandung

Data Produksi Sampah Jawa Barat:

    nama_kabupaten_kota  jumlah_produksi_sampah        satuan  tahun
0       KABUPATEN BOGOR                 1511.15  TON PER HARI   2015
1    KABUPATEN SUKABUMI                  419.01  TON PER HARI   2015
2     KABUPATEN CIANJUR                  981.41  TON PER HARI   2015
3     KABUPATEN BANDUNG                 1895.94  TON PER HARI   2015
4       KABUPATEN GARUT                  464.74  TON PER HARI   2015
..                  ...                     ...           ...    ...
238         KOTA BEKASI                     NaN  TON PER HARI   2023
239          KOTA DEPOK                     NaN  TON PER HARI   2023
240         KOTA CIMAHI                     NaN  TON PER HARI   2023
241    KOTA TASIKMALAYA                     NaN  TON PER HARI   2023
242         KOTA BANJAR                     NaN  TON PER HARI   2023

[243 rows x 4 columns]

In [2]:
total_sampah = 0 
for a, row in data_sampah_kota_bandung.iterrows():
    if row['tahun'] == 2015 :
        total_sampah += row['jumlah_produksi_sampah']
   

print(f"Total Produksi Sampah di Jawa Barat Pada Tahun 2015: {total_sampah:.2f} ton per tahun")

Total Produksi Sampah di Jawa Barat Pada Tahun 2015: 20969.27 ton per tahun

In [3]:
total_sampah_per_tahun = {}

for a, row in data_sampah_kota_bandung.iterrows():
    tahun = row['tahun']
    jumlah_sampah = row['jumlah_produksi_sampah'] 

    if tahun in total_sampah_per_tahun:
        total_sampah_per_tahun[tahun] += jumlah_sampah
    else:
        total_sampah_per_tahun[tahun] = jumlah_sampah

print("Total Produksi Sampah per Tahun:")
for tahun, total_sampah in total_sampah_per_tahun.items():
    print(f"Tahun {tahun}: {total_sampah:.2f} ton")

Total Produksi Sampah per Tahun:
Tahun 2015: 20969.27 ton
Tahun 2016: 20969.27 ton
Tahun 2017: 20969.27 ton
Tahun 2018: 22772.92 ton
Tahun 2019: 24490.56 ton
Tahun 2020: 25333.00 ton
Tahun 2021: 15735.36 ton
Tahun 2022: nan ton
Tahun 2023: nan ton

In [7]:
total_sampah_per_kota_tahun = {}

for a, row in data_sampah_kota_bandung.iterrows():
    kota = row['nama_kabupaten_kota']
    tahun = row['tahun']
    sampah = row['jumlah_produksi_sampah']

    b = (kota, tahun)
    if b in total_sampah_per_kota_tahun:
        total_sampah_per_kota_tahun[b] += sampah
    else:
        total_sampah_per_kota_tahun[b] = sampah
print("Total Produksi Sampah per Kota/Kabupaten per Tahun:")
for (kota, tahun), total in total_sampah_per_kota_tahun.items():
    print(f"Kota/Kabupaten:{kota}, Tahun :{tahun}, Total: {total} ton")

# data_sampah_kota_bandung.to_excel('Data_Sampah_Final.xlsx', index=False)
data_sampah_kota_bandung.to_csv('Data_Sampah_Final.csv', index=False)

Total Produksi Sampah per Kota/Kabupaten per Tahun:
Kota/Kabupaten:KABUPATEN BOGOR, Tahun :2015, Total: 1511.15 ton
Kota/Kabupaten:KABUPATEN SUKABUMI, Tahun :2015, Total: 419.01 ton
Kota/Kabupaten:KABUPATEN CIANJUR, Tahun :2015, Total: 981.41 ton
Kota/Kabupaten:KABUPATEN BANDUNG, Tahun :2015, Total: 1895.94 ton
Kota/Kabupaten:KABUPATEN GARUT, Tahun :2015, Total: 464.74 ton
Kota/Kabupaten:KABUPATEN TASIKMALAYA, Tahun :2015, Total: 464.52 ton
Kota/Kabupaten:KABUPATEN CIAMIS, Tahun :2015, Total: 260.91 ton
Kota/Kabupaten:KABUPATEN KUNINGAN, Tahun :2015, Total: 251.7 ton
Kota/Kabupaten:KABUPATEN CIREBON, Tahun :2015, Total: 465.75 ton
Kota/Kabupaten:KABUPATEN MAJALENGKA, Tahun :2015, Total: 254.63 ton
Kota/Kabupaten:KABUPATEN SUMEDANG, Tahun :2015, Total: 237.96 ton
Kota/Kabupaten:KABUPATEN INDRAMAYU, Tahun :2015, Total: 613.18 ton
Kota/Kabupaten:KABUPATEN SUBANG, Tahun :2015, Total: 487.26 ton
Kota/Kabupaten:KABUPATEN PURWAKARTA, Tahun :2015, Total: 308.96 ton
Kota/Kabupaten:KABUPATEN KARAWANG, Tahun :2015, Total: 869.86 ton
Kota/Kabupaten:KABUPATEN BEKASI, Tahun :2015, Total: 1228.6 ton
Kota/Kabupaten:KABUPATEN BANDUNG BARAT, Tahun :2015, Total: 616.08 ton
Kota/Kabupaten:KABUPATEN PANGANDARAN, Tahun :2015, Total: 185.83 ton
Kota/Kabupaten:KOTA BOGOR, Tahun :2015, Total: 991.93 ton
Kota/Kabupaten:KOTA SUKABUMI, Tahun :2015, Total: 309.91 ton
Kota/Kabupaten:KOTA BANDUNG, Tahun :2015, Total: 2448.63 ton
Kota/Kabupaten:KOTA CIREBON, Tahun :2015, Total: 304.15 ton
Kota/Kabupaten:KOTA BEKASI, Tahun :2015, Total: 2387.08 ton
Kota/Kabupaten:KOTA DEPOK, Tahun :2015, Total: 1844.3 ton
Kota/Kabupaten:KOTA CIMAHI, Tahun :2015, Total: 563.21 ton
Kota/Kabupaten:KOTA TASIKMALAYA, Tahun :2015, Total: 472.36 ton
Kota/Kabupaten:KOTA BANJAR, Tahun :2015, Total: 130.21 ton
Kota/Kabupaten:KABUPATEN BOGOR, Tahun :2016, Total: 1511.15 ton
Kota/Kabupaten:KABUPATEN SUKABUMI, Tahun :2016, Total: 419.01 ton
Kota/Kabupaten:KABUPATEN CIANJUR, Tahun :2016, Total: 981.41 ton
Kota/Kabupaten:KABUPATEN BANDUNG, Tahun :2016, Total: 1895.94 ton
Kota/Kabupaten:KABUPATEN GARUT, Tahun :2016, Total: 464.74 ton
Kota/Kabupaten:KABUPATEN TASIKMALAYA, Tahun :2016, Total: 464.52 ton
Kota/Kabupaten:KABUPATEN CIAMIS, Tahun :2016, Total: 260.91 ton
Kota/Kabupaten:KABUPATEN KUNINGAN, Tahun :2016, Total: 251.7 ton
Kota/Kabupaten:KABUPATEN CIREBON, Tahun :2016, Total: 465.75 ton
Kota/Kabupaten:KABUPATEN MAJALENGKA, Tahun :2016, Total: 254.63 ton
Kota/Kabupaten:KABUPATEN SUMEDANG, Tahun :2016, Total: 237.96 ton
Kota/Kabupaten:KABUPATEN INDRAMAYU, Tahun :2016, Total: 613.18 ton
Kota/Kabupaten:KABUPATEN SUBANG, Tahun :2016, Total: 487.26 ton
Kota/Kabupaten:KABUPATEN PURWAKARTA, Tahun :2016, Total: 308.96 ton
Kota/Kabupaten:KABUPATEN KARAWANG, Tahun :2016, Total: 869.86 ton
Kota/Kabupaten:KABUPATEN BEKASI, Tahun :2016, Total: 1228.6 ton
Kota/Kabupaten:KABUPATEN BANDUNG BARAT, Tahun :2016, Total: 616.08 ton
Kota/Kabupaten:KABUPATEN PANGANDARAN, Tahun :2016, Total: 185.83 ton
Kota/Kabupaten:KOTA BOGOR, Tahun :2016, Total: 991.93 ton
Kota/Kabupaten:KOTA SUKABUMI, Tahun :2016, Total: 309.91 ton
Kota/Kabupaten:KOTA BANDUNG, Tahun :2016, Total: 2448.63 ton
Kota/Kabupaten:KOTA CIREBON, Tahun :2016, Total: 304.15 ton
Kota/Kabupaten:KOTA BEKASI, Tahun :2016, Total: 2387.08 ton
Kota/Kabupaten:KOTA DEPOK, Tahun :2016, Total: 1844.3 ton
Kota/Kabupaten:KOTA CIMAHI, Tahun :2016, Total: 563.21 ton
Kota/Kabupaten:KOTA TASIKMALAYA, Tahun :2016, Total: 472.36 ton
Kota/Kabupaten:KOTA BANJAR, Tahun :2016, Total: 130.21 ton
Kota/Kabupaten:KABUPATEN BOGOR, Tahun :2017, Total: 1511.15 ton
Kota/Kabupaten:KABUPATEN SUKABUMI, Tahun :2017, Total: 419.01 ton
Kota/Kabupaten:KABUPATEN CIANJUR, Tahun :2017, Total: 981.41 ton
Kota/Kabupaten:KABUPATEN BANDUNG, Tahun :2017, Total: 1895.94 ton
Kota/Kabupaten:KABUPATEN GARUT, Tahun :2017, Total: 464.74 ton
Kota/Kabupaten:KABUPATEN TASIKMALAYA, Tahun :2017, Total: 464.52 ton
Kota/Kabupaten:KABUPATEN CIAMIS, Tahun :2017, Total: 260.91 ton
Kota/Kabupaten:KABUPATEN KUNINGAN, Tahun :2017, Total: 251.7 ton
Kota/Kabupaten:KABUPATEN CIREBON, Tahun :2017, Total: 465.75 ton
Kota/Kabupaten:KABUPATEN MAJALENGKA, Tahun :2017, Total: 254.63 ton
Kota/Kabupaten:KABUPATEN SUMEDANG, Tahun :2017, Total: 237.96 ton
Kota/Kabupaten:KABUPATEN INDRAMAYU, Tahun :2017, Total: 613.18 ton
Kota/Kabupaten:KABUPATEN SUBANG, Tahun :2017, Total: 487.26 ton
Kota/Kabupaten:KABUPATEN PURWAKARTA, Tahun :2017, Total: 308.96 ton
Kota/Kabupaten:KABUPATEN KARAWANG, Tahun :2017, Total: 869.86 ton
Kota/Kabupaten:KABUPATEN BEKASI, Tahun :2017, Total: 1228.6 ton
Kota/Kabupaten:KABUPATEN BANDUNG BARAT, Tahun :2017, Total: 616.08 ton
Kota/Kabupaten:KABUPATEN PANGANDARAN, Tahun :2017, Total: 185.83 ton
Kota/Kabupaten:KOTA BOGOR, Tahun :2017, Total: 991.93 ton
Kota/Kabupaten:KOTA SUKABUMI, Tahun :2017, Total: 309.91 ton
Kota/Kabupaten:KOTA BANDUNG, Tahun :2017, Total: 2448.63 ton
Kota/Kabupaten:KOTA CIREBON, Tahun :2017, Total: 304.15 ton
Kota/Kabupaten:KOTA BEKASI, Tahun :2017, Total: 2387.08 ton
Kota/Kabupaten:KOTA DEPOK, Tahun :2017, Total: 1844.3 ton
Kota/Kabupaten:KOTA CIMAHI, Tahun :2017, Total: 563.21 ton
Kota/Kabupaten:KOTA TASIKMALAYA, Tahun :2017, Total: 472.36 ton
Kota/Kabupaten:KOTA BANJAR, Tahun :2017, Total: 130.21 ton
Kota/Kabupaten:KABUPATEN BOGOR, Tahun :2018, Total: 1716.8 ton
Kota/Kabupaten:KABUPATEN SUKABUMI, Tahun :2018, Total: 415.5 ton
Kota/Kabupaten:KABUPATEN CIANJUR, Tahun :2018, Total: 965.19 ton
Kota/Kabupaten:KABUPATEN BANDUNG, Tahun :2018, Total: 2068.06 ton
Kota/Kabupaten:KABUPATEN GARUT, Tahun :2018, Total: 473.89 ton
Kota/Kabupaten:KABUPATEN TASIKMALAYA, Tahun :2018, Total: 458.45 ton
Kota/Kabupaten:KABUPATEN CIAMIS, Tahun :2018, Total: 263.01 ton
Kota/Kabupaten:KABUPATEN KUNINGAN, Tahun :2018, Total: 248.52 ton
Kota/Kabupaten:KABUPATEN CIREBON, Tahun :2018, Total: 466.25 ton
Kota/Kabupaten:KABUPATEN MAJALENGKA, Tahun :2018, Total: 249.26 ton
Kota/Kabupaten:KABUPATEN SUMEDANG, Tahun :2018, Total: 236.12 ton
Kota/Kabupaten:KABUPATEN INDRAMAYU, Tahun :2018, Total: 603.11 ton
Kota/Kabupaten:KABUPATEN SUBANG, Tahun :2018, Total: 498.7 ton
Kota/Kabupaten:KABUPATEN PURWAKARTA, Tahun :2018, Total: 323.87 ton
Kota/Kabupaten:KABUPATEN KARAWANG, Tahun :2018, Total: 896.85 ton
Kota/Kabupaten:KABUPATEN BEKASI, Tahun :2018, Total: 1600.71 ton
Kota/Kabupaten:KABUPATEN BANDUNG BARAT, Tahun :2018, Total: 663.54 ton
Kota/Kabupaten:KABUPATEN PANGANDARAN, Tahun :2018, Total: 171.21 ton
Kota/Kabupaten:KOTA BOGOR, Tahun :2018, Total: 1069.41 ton
Kota/Kabupaten:KOTA SUKABUMI, Tahun :2018, Total: 318.12 ton
Kota/Kabupaten:KOTA BANDUNG, Tahun :2018, Total: 2441.12 ton
Kota/Kabupaten:KOTA CIREBON, Tahun :2018, Total: 308.37 ton
Kota/Kabupaten:KOTA BEKASI, Tahun :2018, Total: 2858.6 ton
Kota/Kabupaten:KOTA DEPOK, Tahun :2018, Total: 2272.07 ton
Kota/Kabupaten:KOTA CIMAHI, Tahun :2018, Total: 592.62 ton
Kota/Kabupaten:KOTA TASIKMALAYA, Tahun :2018, Total: 465.23 ton
Kota/Kabupaten:KOTA BANJAR, Tahun :2018, Total: 128.34 ton
Kota/Kabupaten:KABUPATEN BOGOR, Tahun :2019, Total: 2914.65 ton
Kota/Kabupaten:KABUPATEN SUKABUMI, Tahun :2019, Total: 1003.64 ton
Kota/Kabupaten:KABUPATEN CIANJUR, Tahun :2019, Total: 1115.81 ton
Kota/Kabupaten:KABUPATEN BANDUNG, Tahun :2019, Total: 1334.12 ton
Kota/Kabupaten:KABUPATEN GARUT, Tahun :2019, Total: 1144.01 ton
Kota/Kabupaten:KABUPATEN TASIKMALAYA, Tahun :2019, Total: 753.06 ton
Kota/Kabupaten:KABUPATEN CIAMIS, Tahun :2019, Total: 560.57 ton
Kota/Kabupaten:KABUPATEN KUNINGAN, Tahun :2019, Total: 537.25 ton
Kota/Kabupaten:KABUPATEN CIREBON, Tahun :2019, Total: 3.15 ton
Kota/Kabupaten:KABUPATEN MAJALENGKA, Tahun :2019, Total: 515.7 ton
Kota/Kabupaten:KABUPATEN SUMEDANG, Tahun :2019, Total: 436.96 ton
Kota/Kabupaten:KABUPATEN INDRAMAYU, Tahun :2019, Total: 1071.05 ton
Kota/Kabupaten:KABUPATEN SUBANG, Tahun :2019, Total: 1012.45 ton
Kota/Kabupaten:KABUPATEN PURWAKARTA, Tahun :2019, Total: 384.43 ton
Kota/Kabupaten:KABUPATEN KARAWANG, Tahun :2019, Total: 934.4 ton
Kota/Kabupaten:KABUPATEN BEKASI, Tahun :2019, Total: 2590.0 ton
Kota/Kabupaten:KABUPATEN BANDUNG BARAT, Tahun :2019, Total: 1124.5 ton
Kota/Kabupaten:KABUPATEN PANGANDARAN, Tahun :2019, Total: 250.23 ton
Kota/Kabupaten:KOTA BOGOR, Tahun :2019, Total: 620.55 ton
Kota/Kabupaten:KOTA SUKABUMI, Tahun :2019, Total: 172.82 ton
Kota/Kabupaten:KOTA BANDUNG, Tahun :2019, Total: 1575.73 ton
Kota/Kabupaten:KOTA CIREBON, Tahun :2019, Total: 245.0 ton
Kota/Kabupaten:KOTA BEKASI, Tahun :2019, Total: 2060.7 ton
Kota/Kabupaten:KOTA DEPOK, Tahun :2019, Total: 1469.77 ton
Kota/Kabupaten:KOTA CIMAHI, Tahun :2019, Total: 267.74 ton
Kota/Kabupaten:KOTA TASIKMALAYA, Tahun :2019, Total: 291.6 ton
Kota/Kabupaten:KOTA BANJAR, Tahun :2019, Total: 100.67 ton
Kota/Kabupaten:KABUPATEN BOGOR, Tahun :2020, Total: 2977.0 ton
Kota/Kabupaten:KABUPATEN SUKABUMI, Tahun :2020, Total: 1006.0 ton
Kota/Kabupaten:KABUPATEN CIANJUR, Tahun :2020, Total: 1117.0 ton
Kota/Kabupaten:KABUPATEN BANDUNG, Tahun :2020, Total: 1355.0 ton
Kota/Kabupaten:KABUPATEN GARUT, Tahun :2020, Total: 1151.0 ton
Kota/Kabupaten:KABUPATEN TASIKMALAYA, Tahun :2020, Total: 754.0 ton
Kota/Kabupaten:KABUPATEN CIAMIS, Tahun :2020, Total: 564.0 ton
Kota/Kabupaten:KABUPATEN KUNINGAN, Tahun :2020, Total: 540.0 ton
Kota/Kabupaten:KABUPATEN CIREBON, Tahun :2020, Total: 1096.0 ton
Kota/Kabupaten:KABUPATEN MAJALENGKA, Tahun :2020, Total: 518.0 ton
Kota/Kabupaten:KABUPATEN SUMEDANG, Tahun :2020, Total: 438.0 ton
Kota/Kabupaten:KABUPATEN INDRAMAYU, Tahun :2020, Total: 1077.0 ton
Kota/Kabupaten:KABUPATEN SUBANG, Tahun :2020, Total: 1023.0 ton
Kota/Kabupaten:KABUPATEN PURWAKARTA, Tahun :2020, Total: 388.0 ton
Kota/Kabupaten:KABUPATEN KARAWANG, Tahun :2020, Total: 942.0 ton
Kota/Kabupaten:KABUPATEN BEKASI, Tahun :2020, Total: 2258.0 ton
Kota/Kabupaten:KABUPATEN BANDUNG BARAT, Tahun :2020, Total: 1135.0 ton
Kota/Kabupaten:KABUPATEN PANGANDARAN, Tahun :2020, Total: 252.0 ton
Kota/Kabupaten:KOTA BOGOR, Tahun :2020, Total: 567.0 ton
Kota/Kabupaten:KOTA SUKABUMI, Tahun :2020, Total: 181.0 ton
Kota/Kabupaten:KOTA BANDUNG, Tahun :2020, Total: 1630.0 ton
Kota/Kabupaten:KOTA CIREBON, Tahun :2020, Total: 192.0 ton
Kota/Kabupaten:KOTA BEKASI, Tahun :2020, Total: 1923.0 ton
Kota/Kabupaten:KOTA DEPOK, Tahun :2020, Total: 1516.0 ton
Kota/Kabupaten:KOTA CIMAHI, Tahun :2020, Total: 369.0 ton
Kota/Kabupaten:KOTA TASIKMALAYA, Tahun :2020, Total: 285.0 ton
Kota/Kabupaten:KOTA BANJAR, Tahun :2020, Total: 79.0 ton
Kota/Kabupaten:KABUPATEN BOGOR, Tahun :2021, Total: 971.59 ton
Kota/Kabupaten:KABUPATEN SUKABUMI, Tahun :2021, Total: 356.02 ton
Kota/Kabupaten:KABUPATEN CIANJUR, Tahun :2021, Total: 355.69 ton
Kota/Kabupaten:KABUPATEN BANDUNG, Tahun :2021, Total: 1489.04 ton
Kota/Kabupaten:KABUPATEN GARUT, Tahun :2021, Total: 321.17 ton
Kota/Kabupaten:KABUPATEN TASIKMALAYA, Tahun :2021, Total: 172.26 ton
Kota/Kabupaten:KABUPATEN CIAMIS, Tahun :2021, Total: 159.41 ton
Kota/Kabupaten:KABUPATEN KUNINGAN, Tahun :2021, Total: 405.76 ton
Kota/Kabupaten:KABUPATEN CIREBON, Tahun :2021, Total: 242.52 ton
Kota/Kabupaten:KABUPATEN MAJALENGKA, Tahun :2021, Total: 546.54 ton
Kota/Kabupaten:KABUPATEN SUMEDANG, Tahun :2021, Total: 707.75 ton
Kota/Kabupaten:KABUPATEN INDRAMAYU, Tahun :2021, Total: 792.48 ton
Kota/Kabupaten:KABUPATEN SUBANG, Tahun :2021, Total: 739.6 ton
Kota/Kabupaten:KABUPATEN PURWAKARTA, Tahun :2021, Total: 239.72 ton
Kota/Kabupaten:KABUPATEN KARAWANG, Tahun :2021, Total: 614.61 ton
Kota/Kabupaten:KABUPATEN BEKASI, Tahun :2021, Total: 1193.76 ton
Kota/Kabupaten:KABUPATEN BANDUNG BARAT, Tahun :2021, Total: 201.09 ton
Kota/Kabupaten:KABUPATEN PANGANDARAN, Tahun :2021, Total: 46.62 ton
Kota/Kabupaten:KOTA BOGOR, Tahun :2021, Total: 719.72 ton
Kota/Kabupaten:KOTA SUKABUMI, Tahun :2021, Total: 232.06 ton
Kota/Kabupaten:KOTA BANDUNG, Tahun :2021, Total: 1529.04 ton
Kota/Kabupaten:KOTA CIREBON, Tahun :2021, Total: 229.75 ton
Kota/Kabupaten:KOTA BEKASI, Tahun :2021, Total: 1500.77 ton
Kota/Kabupaten:KOTA DEPOK, Tahun :2021, Total: 1418.87 ton
Kota/Kabupaten:KOTA CIMAHI, Tahun :2021, Total: 193.36 ton
Kota/Kabupaten:KOTA TASIKMALAYA, Tahun :2021, Total: 295.87 ton
Kota/Kabupaten:KOTA BANJAR, Tahun :2021, Total: 60.29 ton
Kota/Kabupaten:KABUPATEN BOGOR, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN SUKABUMI, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN CIANJUR, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN BANDUNG, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN GARUT, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN TASIKMALAYA, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN CIAMIS, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN KUNINGAN, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN CIREBON, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN MAJALENGKA, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN SUMEDANG, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN INDRAMAYU, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN SUBANG, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN PURWAKARTA, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN KARAWANG, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN BEKASI, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN BANDUNG BARAT, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN PANGANDARAN, Tahun :2022, Total: nan ton
Kota/Kabupaten:KOTA BOGOR, Tahun :2022, Total: nan ton
Kota/Kabupaten:KOTA SUKABUMI, Tahun :2022, Total: nan ton
Kota/Kabupaten:KOTA BANDUNG, Tahun :2022, Total: nan ton
Kota/Kabupaten:KOTA CIREBON, Tahun :2022, Total: nan ton
Kota/Kabupaten:KOTA BEKASI, Tahun :2022, Total: nan ton
Kota/Kabupaten:KOTA DEPOK, Tahun :2022, Total: nan ton
Kota/Kabupaten:KOTA CIMAHI, Tahun :2022, Total: nan ton
Kota/Kabupaten:KOTA TASIKMALAYA, Tahun :2022, Total: nan ton
Kota/Kabupaten:KOTA BANJAR, Tahun :2022, Total: nan ton
Kota/Kabupaten:KABUPATEN BOGOR, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN SUKABUMI, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN CIANJUR, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN BANDUNG, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN GARUT, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN TASIKMALAYA, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN CIAMIS, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN KUNINGAN, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN CIREBON, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN MAJALENGKA, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN SUMEDANG, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN INDRAMAYU, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN SUBANG, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN PURWAKARTA, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN KARAWANG, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN BEKASI, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN BANDUNG BARAT, Tahun :2023, Total: nan ton
Kota/Kabupaten:KABUPATEN PANGANDARAN, Tahun :2023, Total: nan ton
Kota/Kabupaten:KOTA BOGOR, Tahun :2023, Total: nan ton
Kota/Kabupaten:KOTA SUKABUMI, Tahun :2023, Total: nan ton
Kota/Kabupaten:KOTA BANDUNG, Tahun :2023, Total: nan ton
Kota/Kabupaten:KOTA CIREBON, Tahun :2023, Total: nan ton
Kota/Kabupaten:KOTA BEKASI, Tahun :2023, Total: nan ton
Kota/Kabupaten:KOTA DEPOK, Tahun :2023, Total: nan ton
Kota/Kabupaten:KOTA CIMAHI, Tahun :2023, Total: nan ton
Kota/Kabupaten:KOTA TASIKMALAYA, Tahun :2023, Total: nan ton
Kota/Kabupaten:KOTA BANJAR, Tahun :2023, Total: nan ton